# TEX 
*.aux
*.bbl
*.bcf
*.blg
*.hst
*.log
# *.out
*.synctex.gz
*.toc
*.ver
*.xml
ceteiep_dsa_book.out
ceteiep_dsa_book_part-A.out
ceteiep_dsa_book_part-B.out
ceteiep_dsa_book_part-C.out
lab01.out
lab02.out
lab03.out
lab04.out
lab05.out
lab06.out
lab07.out
lab08.out
lab09.out
# powerpoint temp files
~*

# Visual Studio Code
.vscode 

# C++ (windows)
*.exe
*.o

# Unfinished
# ceteiep_dsa_book.pdf